.comment-container{
  margin-bottom: 10px;
  .comment-header{
    font-family: 'Gaurdian Egyptian Headline', Georgia, serif;
    font-size: 30px;
    margin: 10px 0;
  }

  .comment-info-container{
    padding: 10px 0;
    .author-info{
      display: flex;
      margin-bottom: 10px;
      & > * {
        margin-right: 10px;
        color: #595959;
      }
      svg{
        color: black;
      }
      h1{
        text-decoration: underline;
      }
    }
    .comment-info{
      margin-left: 40px;
    }
    p{
      min-height: 100px;
    }
  }
}